body {
  --bg: rgb(33, 33, 39);
  --lighter: rgb(44, 44, 52);
  --bl: rgb(90, 90, 230);
  --shadow: rgb(28, 28, 33);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: white;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  cursor: pointer;
}
a {
  color: white;
  text-decoration: none;
}
h1, h2, h3, h4 {
  margin: 0;
}
h1 {
  font-size: 4em;
  text-align: center;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
.wrap {
  margin: 0 10%;
}

/* HEADER */
header {
  display: flex;
  gap: 50px;
  padding: 2% 5%;
}
.underline {
  --translY: 22px;
  content: "";
  position: absolute;
  height: 4px;
  background-color: var(--bl);
  transition: 0.3s ease;
}
.underline.home {
  translate: -3px var(--translY);
  width: 50px;
}
.underline.movies {
  translate: 88px var(--translY);
  width: 60px;
}
.underline.shows {
  translate: 188px var(--translY);
  width: 78px;
}
.underline.people {
  translate: 307px var(--translY);
  width: 58px;
}


/* HOME */
#Home {
  margin: 0 10%;
}
.search-page {
  display: flex;
  gap: 50px;
}
.search {
  --btn-height: 50px;
  height: 50vh;
  display: grid;
  place-items: center;
}
.wrap-input {
  display: flex;
  box-shadow: 0 0 10px 4px var(--shadow);
  border-radius: 50px;
}
.search-input {
  height: var(--btn-height);
  width: 500px;
  padding: 0 25px;
  color: white;
  background-color: var(--lighter);
  border-radius: 50px 0 0 50px;
  border: none;
}
.search-input:focus {
  outline: none;
}
.search-button {
  background-color: var(--lighter);
  border: none;
  padding: 0;
  height: var(--btn-height);
  aspect-ratio: 1;
  border-radius: 0 50px 50px 0;
  color: white;
}

/* MOVIES */
.wrap-movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  gap: 50px;
}
.movie {
  width: 200px;
  height: 400px;
  display: flex;
}
.movie-poster {
  width: 200px;
}

.filter {
  text-align: center;
  width: 200px;
  background-color: var(--lighter);
  overflow: hidden;
  transition: 0.4s ease;
}
.dropdown {
  margin: 10px 0;
  width: 100%;
  border: none;
  background-color: inherit;
  color: white;
  font-size: 15px;
}

/* PEOPLE */
.wrap-input-search {
  margin: 50px 25%;
  --btn-height: 50px;
}
.search-people {
  width: calc(100% - var(--btn-height) * 2);
}
.wrap-people {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  place-items: start center;
}
.person {
  width: 200px;
  box-shadow: 0 0 15px 10px var(--shadow);
  padding-bottom: 10px;
  transition: 0.3s ease;
}
.person:hover {
  scale: 108%;
  box-shadow: 0 0 25px 10px var(--shadow);
}
.person-title {
  text-align: center;
  text-align-last: center;
}
.profile-image {
  width: 200px;
}

/* PERSON */
.wrap-person {
  margin-top: 50px;
  display: flex;
  gap: 4%;
}
.wrap-profile {
  --picture-width: 400px;
  display: inline;
}
.person-profile {
  width: var(--picture-width);
  transition: 0.5s ease;
}
.wrap-profile:hover .person-profile {
  translate: 0 -30px
}
.person-profile-shadow {
  width: var(--picture-width);
  margin-top: 20px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  filter: blur(20px);
  opacity: 90%;
  transition: 0.5s ease;
}
.wrap-profile:hover .person-profile-shadow {
  scale: 110%
}

.person-bio {
  margin-bottom: 50px;
}