:root {
  --bg: rgb(33, 33, 39);
  --light: rgb(44, 44, 52);
  --lighter: rgb(52, 52, 64);
  --bl: rgb(90, 90, 230);
  --shadow: rgb(28, 28, 33);
}
* {
  scroll-behavior: smooth;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: white;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  cursor: pointer;
}
a {
  color: white;
  text-decoration: none;
}
h1, h2, h3, h4 {
  margin: 0;
}
h1 {
  font-size: 4em;
  text-align: center;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
@media only screen and (max-width: 1500px) {
  h1 {font-size: 3em}
  h2 {font-size: 1.5em}
  h3 {font-size: 1.25em}
  h4 {font-size: 1em}
}
@media only screen and (max-width: 1000px) {
  h1 {font-size: 2em}
  h2 {font-size: 1.25em}
  h3 {font-size: 1em}
  h4 {font-size: 0.75em}
}
.wrap {
  margin: 0 10%;
}
.flex {
  display: flex;
  gap: 5%;
}

/* HEADER */
header {
  display: flex;
  gap: 50px;
  padding: 2% 5%;
}
.underline {
  --translY: 22px;
  content: "";
  position: absolute;
  height: 4px;
  background-color: var(--bl);
  transition: 0.3s ease;
}
.underline.home {
  translate: -3px var(--translY);
  width: 50px;
}
.underline.movies {
  translate: 88px var(--translY);
  width: 60px;
}
.underline.shows {
  translate: 188px var(--translY);
  width: 78px;
}
.underline.people {
  translate: 307px var(--translY);
  width: 58px;
}


/* HOME */
#Home {
  margin: 0 10%;
}
.search {
  --btn-height: 50px;
  height: 50vh;
  display: grid;
  place-items: center;
}
.wrap-input {
  display: flex;
  box-shadow: 0 0 10px 4px var(--shadow);
  border-radius: 50px;
}
.search-input {
  height: var(--btn-height);
  width: 500px;
  padding: 0 25px;
  color: white;
  background-color: var(--light);
  border-radius: 50px 0 0 50px;
  border: none;
}
.search-input:focus {
  outline: none;
}
.search-button {
  background-color: var(--light);
  border: none;
  padding: 0;
  height: var(--btn-height);
  aspect-ratio: 1;
  border-radius: 0 50px 50px 0;
  color: white;
}
/* SEARCHED */
.wrap-result-buttons {
  display: grid;
  box-shadow: 0 0 15px 10px var(--shadow);
  background-color: var(--light);
  width: 200px;
}
.result-button {
  background-color: transparent;
  height: 40px;
  color: white;
  border: none;
  transition: 0.3s ease;
  z-index: 1;
}
.result-button:hover {
  background-color: var(--lighter);
}:not([sel])
.sel {
  background-color: transparent;
}

.selected {
  position: absolute;
  width: 200px;
  height: 40px;
  background-color: var(--bl);
  z-index: 0;
  transition: 0.3s ease;
}
.selected-movies {
  translate: 0 0px;
  animation: smudg 0.3s ease;
}
.selected-show {
  translate: 0 40px;
  animation: smudg 0.3s ease;
}
.selected-people {
  translate: 0 80px;
  animation: smudg 0.3s ease;
}
@keyframes smudg {
  0% {scale: 100%;}
  50% {scale: 100% 120%;}
  100% {scale: 100%;}
}
.wrap-content {
  width: 100%;
  display: grid;
  gap: 30px;
}
.content {
  display: flex;
  box-shadow: 0 0 10px 5px var(--shadow);
  width: 100%;
  padding-right: 20px;
  transition: 0.3s ease;
}
.content:hover {
  scale: 102%;
  box-shadow: 0 0 15px 10px var(--shadow);
  z-index: 1;
}
.content-poster {
  margin-right: 20px;
  height: 150px;
}

/* MOVIES */
.filter {
  text-align: center;
  width: 200px;
  background-color: var(--light);
  overflow: hidden;
  transition: 0.4s ease;
}
.dropdown {
  margin: 10px 0;
  width: 100%;
  border: none;
  background-color: inherit;
  color: white;
  font-size: 15px;
}

/* MOVIE */
.movie-start {
  height: 100vh;
}
.movie-content {
  display: flex;
  gap: 5%;
}
.movie-poster {
  width: 400px;
}
.wrap-cast {
  display: flex;
  gap: 50px;
  overflow-x: auto;
}
.cast {
  width: 200px;
}
.content-scroll {
  overflow-y: auto;
  height: 80vh;
  scrollbar-color: black;
}
.content-scroll-section {
  min-height: 100%;
}

/* SHOWS */
.wrap-full-shows {
  display: flex;
  gap: 5%;
  margin-top: 50px;
}
.wrap-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
  position: sticky;
  top: 5%;
}
.option {
  height: 40px;
  overflow: hidden;
  background-color: var(--light);
  padding: 10px;
  box-shadow: 0 0 10px 4px var(--shadow);
}
.option-open {
  height: inherit;
}
.option-select {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  user-select: none;
  cursor: pointer;
}
.arrow {
  margin-left: auto;
  transition: 0.3s ease;
}
.option-button {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  border: none;
  background-color: var(--light);
  box-shadow: 0 0 15px 10px var(--shadow);
  color: white;
  transition: 0.3s ease;
}
.option-button:hover {
  color: black;
  background-color: var(--bl);
  box-shadow: 0 0 25px 10px var(--shadow);
  scale: 105%;
}
.wrap-check {
  display: flex;
}
.genre-check {
  margin: 0;
}
.wrap-cards {
  --show-width: 200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  width: 100%;
}
.card {
  width: var(--show-width);
  text-align: center;
  box-shadow: 0 0 15px 10px var(--shadow);
  padding-bottom: 10px;
  transition: 0.3s ease;
}
.card:hover {
  scale: 108%;
  box-shadow: 0 0 25px 10px var(--shadow);
}
.card-poster {
  width: var(--show-width);
}

/* SHOW */
.wrap-backdrop {
  width: 100%;
  display: flex;
  justify-content: end;
  z-index: -1;
}
.show-backdrop {
  width: 50%;
  aspect-ratio: 1.77;
  background-repeat: no-repeat;
  background-size: contain;
}
.wrap-show-start {
  position: absolute;
  width: 45%;
  margin-left: 5%;
}
.wrap-show-title {
  display: flex;
}
.show-title {
  text-align: start;
}
.tagline {
  color: rgb(200, 200, 200);
}

.options {
  margin: 100px 5%;
  display: flex;
  gap: 5%;
}
.wrap-show-options {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.show-options {
  border: none;
  background-color: var(--light);
  height: 50px;
  color: white;
}
.show-options:hover {
  background-color: var(--lighter);
}:not([options-selected])
.options-selected {
  background-color: var(--bl);
}

.selected-content {
  width: 100%;
  height: inherit;
}
.show-trailers {
  display: flex;
}
.show-selected-trailer {
  width: 50%;
  display: flex;
  justify-content: center;
}
.wrap-trailer-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
  height: 360px;
  margin-left: auto;
  overflow-y: auto;
}
.show-trailer {
  cursor: pointer;  
  width: 260px;
  min-height: 150px;
  background-color: var(--light);
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  place-items: center;
}

.wrap-show-season {
  display: flex;
  gap: 5%;
}
.wrap-seasons {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: 0.3s ease;
}
.season {
  background-color: var(--light);
  padding: 15px 20px;
  border-radius: 5px;
  overflow: hidden;
}
.wrap-season {
  width: 100%;
  display: flex;
  gap: 2%;
}
.season_poster {
  width: 250px;
}
.wrap-episodes {
  display: grid;
  gap: 10px;
}
.episode {
  background-color: var(--light);
  padding: 10px;
  border-radius: 5px;
}

/* PEOPLE */
.wrap-input-search {
  margin: 50px 25%;
  --btn-height: 50px;
}
.search-people {
  width: calc(100% - var(--btn-height) * 2);
}

/* PERSON */
.wrap-person {
  margin-top: 50px;
  display: flex;
  gap: 4%;
}
.wrap-profile {
  --picture-width: 400px;
  display: inline;
}
.person-profile {
  width: var(--picture-width);
  transition: 0.5s ease;
}
.wrap-profile:hover .person-profile {
  translate: 0 -30px
}
.person-profile-shadow {
  width: var(--picture-width);
  margin-top: 20px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  filter: blur(20px);
  opacity: 90%;
  transition: 0.5s ease;
}
.wrap-profile:hover .person-profile-shadow {
  scale: 110%
}

.person-bio {
  margin-bottom: 50px;
}

.wrap-credits {
  display: flex;
  gap: 50px;
  overflow-x: scroll;
}
.credits-more {
  margin: auto 0;
  height: 50px;
}
.credit {
  width: 200px !important;
}
.credit-poster {
  width: 200px;
}